[include]
    path = .gitconfig.local
[core]
    pager = nkf -w | LESSCHARSET=utf-8 less
    excludesfile = $HOME/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status --branch --short
    br = branch -vv
    di = diff
    dc = diff --cached
    fh = fetch -p
    see = browse
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    up = !git fetch -p && git checkout master && git pull origin master && git delete-merged-branches
    pr = browse-remote --pr
[ghq]
    root = ~/ghq
[pull]
	rebase = preserve
[push]
	default = current
