[include]
    path = .gitconfig.local
[core]
    pager = nkf -w | LESSCHARSET=utf-8 less
    excludesfile = ~/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status --branch --short
    br = branch -vv --sort=authordate
    di = diff
    dc = diff --cached
    fh = fetch -p
    see = browse
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    up = !git fetch -p && git checkout master && git pull origin master && git delete-merged-branches
    upd = !git fetch -p && git checkout develop && git pull origin develop && git delete-merged-branches
    upm = !git fetch -p && git checkout main && git pull origin main && git delete-merged-branches
    pr = browse-remote --pr
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[ghq]
    root = ~/ghq
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[rebase]
	autosquash = true
[user]
	useConfigOnly = true
[pull]
	rebase = true
